@font-face {
    font-family: 'kilogram';
    src: url('../fonts/kilogram_kg-webfont.woff2') format('woff2'),
         url('../fonts/kilogram_kg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
nav.navbar{
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  background-color: transparent;
}
nav.navbar a{
  color: #fff;
}
main#app-content header,
.containers .inline-row h2,
.containers .inline-row a,
nav .navbar-brand,
nav .navbar-brand span,
.block a{
  font-family: 'kilogram';
}
nav.navbar .navbar-collapse{
  justify-content: flex-end;
}
nav ul.navbar-nav a{
  /*text-transform: uppercase;*/
  font-family: cursive;
  font-size: 1rem;
}
main#app-content{
  position: relative;
  z-index: 1;
  margin-bottom: 3.5rem;
  background: url('../images/background.jpg') no-repeat fixed;
  background-size: cover;
  background-position: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main#app-content header {
  padding: 1rem 6rem;
  text-shadow: 0 0 1px #0013E3, 0 0 9px #ff0095;
  color: #fff;
  text-align: center;
}
main#app-content header h1{
  transform: rotate(-8deg);
}

main#app-content header h2{
  margin-top: 6rem;
  font-size: 3rem;
}
.bg-image{
  margin-top: -3.5rem;
  height: 100vh;
  background: url('../images/background.jpg') no-repeat fixed;
  background-size: cover;
  background-position: 50%;
}
.containers{
  position: relative;
  bottom: 3.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #222;
}
.containers .block{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 30rem;
  background-color: #ff0095;
  height: 25rem;
  /*margin: 0.15rem 0.05rem 0.1rem;*/
  overflow: hidden;
}
.containers .inline-row{
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items: center;
  width:100%;
}
.containers .inline-row h2{
  margin: 1rem 0;
  font-size: 3rem;
  color: #fff;
}
.containers .inline-row a{
  font-size: 3rem;
  opacity: 1;
  color: #ff0095;
  text-decoration: none;
  -webkit-transition: .3s all ease;
  -moz-transition: .3s all ease;
  -ms-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.containers .inline-row a:hover{
  color: #551e61;
}
.block h3{
  display: none;
}
.block img{
  width:100%;
  height: 100vh;
}
.containers a.view-btn:before,
.containers a.view-btn:after{
  font-family: 'FontAwesome';
}
.containers a.view-btn:before{
  margin-right: 1rem;
  content: '\f0a4';
}
.containers a.view-btn:after{
  margin-left: 1rem;
  content: '\f0a5';
}

.containers .block a.view-btn{
  background-color: rgb(85, 30, 97);
  padding: 1rem 3rem;
  bottom: -50rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
  display: flex;
  margin:0;
  text-align: center;
  justify-content: center;
  align-items: center;
  -webkit-transition: .3s all ease;
  -moz-transition: .3s all ease;
  -ms-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.containers .block:hover a.view-btn{
  opacity: .9;
  bottom: 0;
}

a.view-btn{
  margin: 0.5rem;
  opacity: 0;
}
.video-bg{
  margin-top: -3.5rem;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 0.5rem;
}
.video-bg .full-screen-video{
  width: 100%;
}

footer#mainFooter{
  position: fixed;
  bottom: 0;
  z-index: 0;
  width: 100%;
  padding: 1rem;
  background: #222;
  color: #fff;
  display: flex;
  justify-content: center;
}
